﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "AngularJS SPA Template for Visual Studio")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
    @Styles.Render("~/content/css/jquery-ui")
</head>
<body>
    <header class="navbar navbar-inverse" role="banner" ng-if=" !layout ">
        @* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">Digico SD9 Control</a>
            </div>
            <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./auxsend">Aux Send</a>
                    </li>
                    @*<li>
                            <a href="./contacts">Contacts</a>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                            <a href="./login">Sign In</a>
                        </li>*@
                </ul>
            </nav>
        </div>
    </header>

    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/jquery-ui")
    @Scripts.Render("~/js/signalr")
    @Scripts.Render("~/js/angular")

    @Scripts.Render("~/js/app")
</body>
</html>
