﻿@{
    PageData["title"] = "Digico SD9 | Aux Send";
}
<h2>Digico SD9 Aux Send</h2>

@*<div class="jumbotron">
    <span class="label label-primary">Primary</span>
    <select id="togleSw">
        <option>On</option>
        <option>Off</option>
    </select>
    <div id="testSlider" style="height:200px" to-slider="{orientation: 'vertical', range: 'min' , min: -100, max: 10, value: -30}"></div>    
</div>*@

<div style="justify-content: space-around;" ng-controller="AuxSendCtrl as ctrl">
    <div class="panel panel-default" style="height:200px;float:left;text-align:center;width: 90px;margin-left: 2px;margin-right: 2px;padding: 2px;" ng-repeat="auxSend in AuxSend.InputChannels">
        <aux-send-control option="{orientation: 'vertical', range: 'min' , min: -100, max: 10, step: 0.01}" aux-send="auxSend" />
        <br />

    </div>
    @*<div class="panel panel-default" style="height:200px;float:left;text-align:center;width: 90px;margin-left: 2px;margin-right: 2px;padding: 2px;" ng-repeat="auxSend in AuxSend.InputChannels">
        <span class="label label-info">{{auxSend.Value}}</span>
    </div>*@
</div>