﻿body {
}

.auxSendDiv {
    background-color:#754496;
    color:white;
    text-align:center;
    padding-bottom:15px;
    width: 90px;
    height:235px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.auxSendValLbl{
    margin-bottom: 15px;
    margin-top: 0px;
    background-color:black;
}

.auxSendNameLbl {
    margin-top: 15px;
    background-color:#070950;
    padding-top:4px;
    padding-bottom:4px;
}

.sliderDiv{
    height:200px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;   
}
