﻿// Core variables and mixins
@import "bootstrap\variables.less";
//@import "variables.less";
@import "bootstrap\mixins.less";

// Reset
@import "bootstrap\normalize.less";
@import "bootstrap\print.less";

// Core CSS
@import "bootstrap\scaffolding.less";
@import "bootstrap\type.less";
@import "bootstrap\code.less";
@import "bootstrap\grid.less";
@import "bootstrap\tables.less";
@import "bootstrap\forms.less";
@import "bootstrap\buttons.less";

// Components
@import "bootstrap\component-animations.less";
@import "bootstrap\glyphicons.less";
@import "bootstrap\dropdowns.less";
@import "bootstrap\button-groups.less";
@import "bootstrap\input-groups.less";
@import "bootstrap\navs.less";
@import "bootstrap\navbar.less";
@import "bootstrap\breadcrumbs.less";
@import "bootstrap\pagination.less";
@import "bootstrap\pager.less";
@import "bootstrap\labels.less";
@import "bootstrap\badges.less";
@import "bootstrap\jumbotron.less";
@import "bootstrap\thumbnails.less";
@import "bootstrap\alerts.less";
@import "bootstrap\progress-bars.less";
@import "bootstrap\media.less";
@import "bootstrap\list-group.less";
@import "bootstrap\panels.less";
@import "bootstrap\wells.less";
@import "bootstrap\close.less";

// Components w/ JavaScript
@import "bootstrap\modals.less";
@import "bootstrap\tooltip.less";
@import "bootstrap\popovers.less";
@import "bootstrap\carousel.less";

// Utility classes
@import "bootstrap\utilities.less";
@import "bootstrap\responsive-utilities.less";

.form-box {
    margin-top: 20px;
    padding: 40px 20px 20px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.mobileHoverFix:hover,
.mobileHoverFix.hover{
    background-position: 0 0px;
}