﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    ViewBag["title"] = "Digico SD9 WebConsole | Aux Send";
}

<div ng-controller="AuxSendCtrl as ctrl">
    <h2>Digico SD9 Aux Send: {{AuxSend.AuxName}}</h2>

    <div style="justify-content: space-around;">
        <div class="panel panel-default" style="height:265px;float:left;text-align:center;width: 90px;margin-left: 2px;margin-right: 2px;padding: 2px;" ng-repeat="auxSend in AuxSend.InputChannels | filter: { Enabled: true }">
            <aux-send-control option="{orientation: 'vertical', range: 'min' , min: -100, max: 10, step: 0.01}" aux-send="auxSend" />
            <br />

        </div>
        @*<div class="panel panel-default" style="height:200px;float:left;text-align:center;width: 90px;margin-left: 2px;margin-right: 2px;padding: 2px;" ng-repeat="auxSend in AuxSend.InputChannels">
                <span class="label label-info">{{auxSend.Value}}</span>
            </div>*@
    </div>
</div>