﻿@using DigicoSD9.Model
@using Microsoft.AspNet.SignalR
@using Nancy.BundleIt
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(ViewBag["title"] ?? "Digico SD9 WebConsole")</title>
    <meta name="description" content="@ViewBag["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    @BundleItAssets.RenderCSS("~/content/css/app")
    @BundleItAssets.RenderCSS("~/content/css/jquery-ui")
</head>
    <body>
        <header class="navbar navbar-inverse" role="banner" ng-if=" !layout ">
            @* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Digico SD9 Control</a>
                </div>
                <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
                    @{
                        var sd9Console = (SD9Console)GlobalHost.DependencyResolver.GetService(typeof(SD9Console));
                        for (int i = 1; i < 5; i++)
                        {
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/auxsend/@i">@sd9Console.AuxOutputs[i].Name</a>
                                </li>
                            </ul>
                        }
                    }
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>
                            <a href="./login">Sign In</a>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </header>

        <div id="ui-view" class="container" ui-view data-tmpl-url="@Context.Items["templateUrl"]">
            @RenderBody()
        </div>
    
        @BundleItAssets.RenderJS("~/js/jquery")
        @BundleItAssets.RenderJS("~/js/jquery-ui")
        @BundleItAssets.RenderJS("~/js/signalr")
        @BundleItAssets.RenderJS("~/js/angular")

        @BundleItAssets.RenderJS("~/js/app")
    </body>
</html>
